{% extends 'base/base_index.html' %}

{% block content_1 %}
<div class="row">
    <div class="col-md-4">
        <h1>{{ book.book_name }}</h1>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-2">
        <a href="{% url 'books:book_edit' book.id %}">
            <h3>编辑</h3>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="{{ book.book_image.url }}" width = "200" height = "200"/>
    </div>
    <div class="col-md-8 ">
        <div class="row">
            <h4>作者：{{ book.book_author }}</h4>
            <h4>出版年：{{ book.book_year }}</h4>
            <h4>页数：{{ book.book_pages }}</h4>
            <h4>出版社：{{ book.book_publisher }}</h4>
            <h4>ISBN：{{ book.book_ISBN }}</h4>
        </div>
    </div>
</div>

<h3 class="bg-info">内容简介</h3>
<div class="row col-md-12">
    <p class="text-muted"><big>{{ book.book_content }}</big></p>
</div>

<div class="row col-md-12">
    <div class="col-md-10">
        <h3 class="bg-info">章节概述</h3>
    </div>
    <div class="col-md-2">
        <a href="{% url 'books:book_create_chapter' book.id %}">
            <h3 class="bg-info">添加</h3>
        </a>
    </div>
</div>
<ul class="nav nav-tabs" id="chaper_head">
<!--    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>-->
    {% for cc in chapter %}
    <li><a data-toggle="tab" href="#{{ cc.chapter_index }}">{{ cc.chapter_index }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content" id="chaper_body">
<!--    
<div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
-->
    {% for cc in chapter %}
    
    <div id="{{ cc.chapter_index }}" class="tab-pane fade col-md-10">
        <div class="row col-md-12">
            <div class="col-md-10">
                <p><big>{{ cc.chapter_content }}</big></p>
            </div>
            <div class="col-md-2">
                <a href="{% url 'books:book_edit_chapter' book.id cc.id %}">
                    <h3 class="bg-info">编辑</h3>
                </a>
            </div>
        </div>
    </div>
    

    {% endfor %}
</div>

<div class="row col-md-12">
    <h3 class="bg-info">评论</h3>
</div>
{% for comment in book.comment_set.all reversed%}
<div class="row ">
    <div class="col-md-2">
        <h4>{{ comment.comment_user }}</h4>
    </div>
    <div class="well well-sm col-md-10">
        <p><big>{{ comment.comment_content }}</big></p>
    </div>
</div>
{% empty %}
<h4>No comments here yet :(</h4>
{% endfor %}

<hr style="height:5px" color = "lightblue"/>

<div class="row col-md-12">
    <form method="post">{% csrf_token %}
        <div class="fieldWrapper">
        {{ form.comment_content.errors }}
            <label for="{{ form.comment_content.id_for_label }}"></label>
        {{ form.comment_content }}
        </div>
        <button type="submit" class="btn btn-success green">发表评论</button>
    </form>
</div><!-- Status Upload  -->

{% endblock %}


